[submodule "ports/src/bash"]
	path = ports/src/bash
	url = https://git.savannah.gnu.org/git/bash.git
[submodule "ports/src/musl"]
	path = ports/src/musl
	url = https://git.musl-libc.org/git/musl
[submodule "ports/src/tinycc"]
	path = ports/src/tinycc
	url = https://github.com/TinyCC/tinycc.git
	branch = mob
[submodule "ports/src/ncurses"]
	path = ports/src/ncurses
	url = https://github.com/ThomasDickey/ncurses-snapshots.git
[submodule "ports/src/nano"]
	path = ports/src/nano
	url = https://git.savannah.gnu.org/git/nano.git
[submodule "ports/src/zlib"]
	path = ports/src/zlib
	url = https://github.com/madler/zlib.git
[submodule "ports/src/libpng"]
	path = ports/src/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "ports/src/libjpeg-turbo"]
	path = ports/src/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "ports/src/lua"]
	path = ports/src/lua
	url = https://github.com/lua/lua.git
[submodule "ports/src/mbedtls"]
	path = ports/src/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls
	branch = mbedtls-3.6
[submodule "ports/src/tty-clock"]
	path = ports/src/tty-clock
	url = https://github.com/xorg62/tty-clock
[submodule "ports/src/tty-tetris"]
	path = ports/src/tty-tetris
	url = https://github.com/xorg62/tty-tetris
[submodule "ports/src/binutils"]
	path = ports/src/binutils
	url = https://sourceware.org/git/binutils-gdb.git
[submodule "ports/src/coreutils/coreutils"]
	path = ports/src/coreutils/coreutils
	url = https://github.com/coreutils/coreutils
[submodule "ports/src/grep"]
	path = ports/src/grep
	url = https://git.savannah.gnu.org/git/grep.git
[submodule "ports/src/sed"]
	path = ports/src/sed
	url = https://git.savannah.gnu.org/git/sed.git
[submodule "ports/src/findutils"]
	path = ports/src/findutils
	url = https://git.savannah.gnu.org/git/findutils.git
[submodule "ports/src/diffutils"]
	path = ports/src/diffutils
	url = https://git.savannah.gnu.org/git/diffutils.git
[submodule "ports/src/tar"]
	path = ports/src/tar
	url = https://git.savannah.gnu.org/git/tar.git
[submodule "ports/src/gawk"]
	path = ports/src/gawk
	url = https://git.savannah.gnu.org/git/gawk.git
[submodule "ports/src/gzip"]
	path = ports/src/gzip
	url = https://git.savannah.gnu.org/git/gzip.git
[submodule "ports/src/iproute2"]
	path = ports/src/iproute2
	url = https://git.kernel.org/pub/scm/network/iproute2/iproute2.git
[submodule "ports/src/htop"]
	path = ports/src/htop
	url = https://github.com/htop-dev/htop
[submodule "ports/src/make"]
	path = ports/src/make
	url = https://git.savannah.gnu.org/git/make.git
[submodule "ports/src/git"]
	path = ports/src/git
	url = https://github.com/git/git.git
[submodule "ports/src/curl"]
	path = ports/src/curl
	url = https://github.com/curl/curl.git
[submodule "ports/src/libdrm"]
	path = ports/src/libdrm
	url = https://gitlab.freedesktop.org/mesa/drm.git
[submodule "ports/src/mesa"]
	path = ports/src/mesa
	url = https://gitlab.freedesktop.org/mesa/mesa.git
	branch = 26.2
[submodule "ports/src/musl-cross-make"]
	path = ports/src/musl-cross-make
	url = https://github.com/richfelker/musl-cross-make
[submodule "ports/src/libffi"]
	path = ports/src/libffi
	url = https://github.com/libffi/libffi
[submodule "ports/src/wayland"]
	path = ports/src/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland.git
[submodule "ports/src/pixman"]
	path = ports/src/pixman
	url = https://gitlab.freedesktop.org/pixman/pixman.git
[submodule "ports/src/libxkbcommon"]
	path = ports/src/libxkbcommon
	url = https://github.com/xkbcommon/libxkbcommon.git
[submodule "ports/src/xkeyboard-config"]
	path = ports/src/xkeyboard-config
	url = https://gitlab.freedesktop.org/xkeyboard-config/xkeyboard-config.git
[submodule "ports/src/weston"]
	path = ports/src/weston
	url = https://gitlab.freedesktop.org/wayland/weston.git
[submodule "ports/src/wayland-protocols"]
	path = ports/src/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "ports/src/libevdev"]
	path = ports/src/libevdev
	url = https://gitlab.freedesktop.org/libevdev/libevdev.git
[submodule "ports/src/libudev-zero"]
	path = ports/src/libudev-zero
	url = https://github.com/illiliti/libudev-zero.git
[submodule "ports/src/libinput"]
	path = ports/src/libinput
	url = https://gitlab.freedesktop.org/libinput/libinput.git
[submodule "ports/src/freetype"]
	path = ports/src/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "ports/src/cairo"]
	path = ports/src/cairo
	url = https://gitlab.freedesktop.org/cairo/cairo.git
[submodule "ports/src/libdisplay-info"]
	path = ports/src/libdisplay-info
	url = https://gitlab.freedesktop.org/emersion/libdisplay-info.git
[submodule "ports/src/seatd"]
	path = ports/src/seatd
	url = https://git.sr.ht/~kennylevinsen/seatd
[submodule "ports/src/libexpat"]
	path = ports/src/libexpat
	url = https://github.com/libexpat/libexpat.git
[submodule "ports/src/fontconfig"]
	path = ports/src/fontconfig
	url = https://gitlab.freedesktop.org/fontconfig/fontconfig.git
[submodule "ports/src/jetbrains-mono"]
	path = ports/src/jetbrains-mono
	url = https://github.com/JetBrains/JetBrainsMono.git
[submodule "ports/src/pcre2"]
	path = ports/src/pcre2
	url = https://github.com/PCRE2Project/pcre2.git
[submodule "ports/src/glib"]
	path = ports/src/glib
	url = https://gitlab.gnome.org/GNOME/glib.git
[submodule "ports/src/fribidi"]
	path = ports/src/fribidi
	url = https://github.com/fribidi/fribidi.git
[submodule "ports/src/harfbuzz"]
	path = ports/src/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "ports/src/pango"]
	path = ports/src/pango
	url = https://gitlab.gnome.org/GNOME/pango.git
[submodule "ports/src/gdk-pixbuf"]
	path = ports/src/gdk-pixbuf
	url = https://gitlab.gnome.org/GNOME/gdk-pixbuf.git
[submodule "ports/src/atk"]
	path = ports/src/atk
	url = https://gitlab.gnome.org/GNOME/atk.git
[submodule "ports/src/libepoxy"]
	path = ports/src/libepoxy
	url = https://github.com/anholt/libepoxy.git
[submodule "ports/src/gtk"]
	path = ports/src/gtk
	url = https://gitlab.gnome.org/GNOME/gtk.git
