[submodule "ports/src/bash"]
	path = ports/src/bash
	url = https://git.savannah.gnu.org/git/bash.git
[submodule "ports/src/musl"]
	path = ports/src/musl
	url = https://git.musl-libc.org/git/musl
[submodule "ports/src/tinycc"]
	path = ports/src/tinycc
	url = https://github.com/TinyCC/tinycc.git
	branch = mob
[submodule "ports/src/ncurses"]
	path = ports/src/ncurses
	url = https://github.com/ThomasDickey/ncurses-snapshots.git
[submodule "ports/src/nano"]
	path = ports/src/nano
	url = https://git.savannah.gnu.org/git/nano.git
[submodule "ports/src/zlib"]
	path = ports/src/zlib
	url = https://github.com/madler/zlib.git
[submodule "ports/src/libpng"]
	path = ports/src/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "ports/src/libjpeg-turbo"]
	path = ports/src/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "ports/src/lua"]
	path = ports/src/lua
	url = https://github.com/lua/lua.git
[submodule "ports/src/mbedtls"]
	path = ports/src/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls
	branch = mbedtls-3.6
[submodule "ports/src/tty-clock"]
	path = ports/src/tty-clock
	url = https://github.com/xorg62/tty-clock
[submodule "ports/src/tty-tetris"]
	path = ports/src/tty-tetris
	url = https://github.com/xorg62/tty-tetris
[submodule "ports/src/binutils"]
	path = ports/src/binutils
	url = https://sourceware.org/git/binutils-gdb.git
[submodule "ports/src/coreutils/coreutils"]
	path = ports/src/coreutils/coreutils
	url = https://github.com/coreutils/coreutils
[submodule "ports/src/grep"]
	path = ports/src/grep
	url = https://git.savannah.gnu.org/git/grep.git
[submodule "ports/src/sed"]
	path = ports/src/sed
	url = https://git.savannah.gnu.org/git/sed.git
[submodule "ports/src/findutils"]
	path = ports/src/findutils
	url = https://git.savannah.gnu.org/git/findutils.git
[submodule "ports/src/diffutils"]
	path = ports/src/diffutils
	url = https://git.savannah.gnu.org/git/diffutils.git
[submodule "ports/src/tar"]
	path = ports/src/tar
	url = https://git.savannah.gnu.org/git/tar.git
[submodule "ports/src/gawk"]
	path = ports/src/gawk
	url = https://git.savannah.gnu.org/git/gawk.git
[submodule "ports/src/gzip"]
	path = ports/src/gzip
	url = https://git.savannah.gnu.org/git/gzip.git
[submodule "ports/src/iproute2"]
	path = ports/src/iproute2
	url = https://git.kernel.org/pub/scm/network/iproute2/iproute2.git
[submodule "ports/src/htop"]
	path = ports/src/htop
	url = https://github.com/htop-dev/htop
[submodule "ports/src/make"]
	path = ports/src/make
	url = https://git.savannah.gnu.org/git/make.git
[submodule "ports/src/git"]
	path = ports/src/git
	url = https://github.com/git/git.git
[submodule "ports/src/curl"]
	path = ports/src/curl
	url = https://github.com/curl/curl.git
[submodule "ports/src/libdrm"]
	path = ports/src/libdrm
	url = https://gitlab.freedesktop.org/mesa/drm.git
[submodule "ports/src/mesa"]
	path = ports/src/mesa
	url = https://gitlab.freedesktop.org/mesa/mesa.git
	branch = 26.2
[submodule "ports/src/musl-cross-make"]
	path = ports/src/musl-cross-make
	url = https://github.com/richfelker/musl-cross-make
[submodule "ports/src/libffi"]
	path = ports/src/libffi
	url = https://github.com/libffi/libffi
[submodule "ports/src/wayland"]
	path = ports/src/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland.git
[submodule "ports/src/pixman"]
	path = ports/src/pixman
	url = https://gitlab.freedesktop.org/pixman/pixman.git
[submodule "ports/src/libxkbcommon"]
	path = ports/src/libxkbcommon
	url = https://github.com/xkbcommon/libxkbcommon.git
[submodule "ports/src/xkeyboard-config"]
	path = ports/src/xkeyboard-config
	url = https://gitlab.freedesktop.org/xkeyboard-config/xkeyboard-config.git
[submodule "ports/src/weston"]
	path = ports/src/weston
	url = https://gitlab.freedesktop.org/wayland/weston.git
[submodule "ports/src/wayland-protocols"]
	path = ports/src/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "ports/src/libevdev"]
	path = ports/src/libevdev
	url = https://gitlab.freedesktop.org/libevdev/libevdev.git
[submodule "ports/src/libudev-zero"]
	path = ports/src/libudev-zero
	url = https://github.com/illiliti/libudev-zero.git
[submodule "ports/src/libinput"]
	path = ports/src/libinput
	url = https://gitlab.freedesktop.org/libinput/libinput.git
[submodule "ports/src/freetype"]
	path = ports/src/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "ports/src/cairo"]
	path = ports/src/cairo
	url = https://gitlab.freedesktop.org/cairo/cairo.git
[submodule "ports/src/libdisplay-info"]
	path = ports/src/libdisplay-info
	url = https://gitlab.freedesktop.org/emersion/libdisplay-info.git
[submodule "ports/src/seatd"]
	path = ports/src/seatd
	url = https://git.sr.ht/~kennylevinsen/seatd
[submodule "ports/src/libexpat"]
	path = ports/src/libexpat
	url = https://github.com/libexpat/libexpat.git
[submodule "ports/src/fontconfig"]
	path = ports/src/fontconfig
	url = https://gitlab.freedesktop.org/fontconfig/fontconfig.git
[submodule "ports/src/jetbrains-mono"]
	path = ports/src/jetbrains-mono
	url = https://github.com/JetBrains/JetBrainsMono.git
[submodule "ports/src/pcre2"]
	path = ports/src/pcre2
	url = https://github.com/PCRE2Project/pcre2.git
[submodule "ports/src/glib"]
	path = ports/src/glib
	url = https://gitlab.gnome.org/GNOME/glib.git
[submodule "ports/src/fribidi"]
	path = ports/src/fribidi
	url = https://github.com/fribidi/fribidi.git
[submodule "ports/src/harfbuzz"]
	path = ports/src/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "ports/src/pango"]
	path = ports/src/pango
	url = https://gitlab.gnome.org/GNOME/pango.git
[submodule "ports/src/gdk-pixbuf"]
	path = ports/src/gdk-pixbuf
	url = https://gitlab.gnome.org/GNOME/gdk-pixbuf.git
[submodule "ports/src/atk"]
	path = ports/src/atk
	url = https://gitlab.gnome.org/GNOME/atk.git
[submodule "ports/src/libepoxy"]
	path = ports/src/libepoxy
	url = https://github.com/anholt/libepoxy.git
[submodule "ports/src/gtk"]
	path = ports/src/gtk
	url = https://gitlab.gnome.org/GNOME/gtk.git
[submodule "ports/src/dinit"]
	path = ports/src/dinit
	url = https://github.com/davmac314/dinit.git
[submodule "ports/src/libxfce4util"]
	path = ports/src/libxfce4util
	url = https://gitlab.xfce.org/xfce/libxfce4util.git
[submodule "ports/src/xfconf"]
	path = ports/src/xfconf
	url = https://gitlab.xfce.org/xfce/xfconf.git
[submodule "ports/src/libxfce4ui"]
	path = ports/src/libxfce4ui
	url = https://gitlab.xfce.org/xfce/libxfce4ui.git
[submodule "ports/src/thunar"]
	path = ports/src/thunar
	url = https://gitlab.xfce.org/xfce/thunar.git
[submodule "ports/src/llvm-project"]
	path = ports/src/llvm-project
	url = https://github.com/llvm/llvm-project.git
	shallow = true
[submodule "ports/src/xorgproto"]
	path = ports/src/xorgproto
	url = https://gitlab.freedesktop.org/xorg/proto/xorgproto.git
[submodule "ports/src/libxtrans"]
	path = ports/src/libxtrans
	url = https://gitlab.freedesktop.org/xorg/lib/libxtrans.git
[submodule "ports/src/libXau"]
	path = ports/src/libXau
	url = https://gitlab.freedesktop.org/xorg/lib/libxau.git
[submodule "ports/src/libXdmcp"]
	path = ports/src/libXdmcp
	url = https://gitlab.freedesktop.org/xorg/lib/libxdmcp.git
[submodule "ports/src/xcbproto"]
	path = ports/src/xcbproto
	url = https://gitlab.freedesktop.org/xorg/proto/xcbproto.git
[submodule "ports/src/libxcb"]
	path = ports/src/libxcb
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb.git
[submodule "ports/src/libX11"]
	path = ports/src/libX11
	url = https://gitlab.freedesktop.org/xorg/lib/libx11.git
[submodule "ports/src/libXext"]
	path = ports/src/libXext
	url = https://gitlab.freedesktop.org/xorg/lib/libxext.git
[submodule "ports/src/libXrender"]
	path = ports/src/libXrender
	url = https://gitlab.freedesktop.org/xorg/lib/libxrender.git
[submodule "ports/src/libXfixes"]
	path = ports/src/libXfixes
	url = https://gitlab.freedesktop.org/xorg/lib/libxfixes.git
[submodule "ports/src/libXdamage"]
	path = ports/src/libXdamage
	url = https://gitlab.freedesktop.org/xorg/lib/libxdamage.git
[submodule "ports/src/libXcomposite"]
	path = ports/src/libXcomposite
	url = https://gitlab.freedesktop.org/xorg/lib/libxcomposite.git
[submodule "ports/src/libXrandr"]
	path = ports/src/libXrandr
	url = https://gitlab.freedesktop.org/xorg/lib/libxrandr.git
[submodule "ports/src/libXi"]
	path = ports/src/libXi
	url = https://gitlab.freedesktop.org/xorg/lib/libxi.git
[submodule "ports/src/libXcursor"]
	path = ports/src/libXcursor
	url = https://gitlab.freedesktop.org/xorg/lib/libxcursor.git
[submodule "ports/src/libXtst"]
	path = ports/src/libXtst
	url = https://gitlab.freedesktop.org/xorg/lib/libxtst.git
[submodule "ports/src/libXres"]
	path = ports/src/libXres
	url = https://gitlab.freedesktop.org/xorg/lib/libxres.git
[submodule "ports/src/libXinerama"]
	path = ports/src/libXinerama
	url = https://gitlab.freedesktop.org/xorg/lib/libxinerama.git
[submodule "ports/src/libXkbfile"]
	path = ports/src/libXkbfile
	url = https://gitlab.freedesktop.org/xorg/lib/libxkbfile.git
[submodule "ports/src/font-util"]
	path = ports/src/font-util
	url = https://gitlab.freedesktop.org/xorg/font/util.git
[submodule "ports/src/encodings"]
	path = ports/src/encodings
	url = https://gitlab.freedesktop.org/xorg/font/encodings.git
[submodule "ports/src/libfontenc"]
	path = ports/src/libfontenc
	url = https://gitlab.freedesktop.org/xorg/lib/libfontenc.git
[submodule "ports/src/libXfont2"]
	path = ports/src/libXfont2
	url = https://gitlab.freedesktop.org/xorg/lib/libxfont.git
[submodule "ports/src/xserver"]
	path = ports/src/xserver
	url = https://gitlab.freedesktop.org/xorg/xserver.git
[submodule "ports/src/libxcvt"]
	path = ports/src/libxcvt
	url = https://gitlab.freedesktop.org/xorg/lib/libxcvt.git
[submodule "ports/src/libpciaccess"]
	path = ports/src/libpciaccess
	url = https://gitlab.freedesktop.org/xorg/lib/libpciaccess.git
[submodule "ports/src/xkbcomp"]
	path = ports/src/xkbcomp
	url = https://gitlab.freedesktop.org/xorg/app/xkbcomp.git
[submodule "ports/src/xf86-input-libinput"]
	path = ports/src/xf86-input-libinput
	url = https://gitlab.freedesktop.org/xorg/driver/xf86-input-libinput.git
[submodule "ports/src/xfwm4"]
	path = ports/src/xfwm4
	url = https://gitlab.xfce.org/xfce/xfwm4.git
[submodule "ports/src/libwnck"]
	path = ports/src/libwnck
	url = https://gitlab.gnome.org/GNOME/libwnck.git
[submodule "ports/src/startup-notification"]
	path = ports/src/startup-notification
	url = https://gitlab.freedesktop.org/xdg/startup-notification.git
[submodule "ports/src/xcb-util"]
	path = ports/src/xcb-util
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb-util.git
[submodule "ports/src/libICE"]
	path = ports/src/libICE
	url = https://gitlab.freedesktop.org/xorg/lib/libice.git
[submodule "ports/src/libSM"]
	path = ports/src/libSM
	url = https://gitlab.freedesktop.org/xorg/lib/libsm.git
[submodule "ports/src/dbus"]
	path = ports/src/dbus
	url = https://gitlab.freedesktop.org/dbus/dbus.git
[submodule "ports/src/garcon"]
	path = ports/src/garcon
	url = https://gitlab.xfce.org/xfce/garcon.git
[submodule "ports/src/exo"]
	path = ports/src/exo
	url = https://gitlab.xfce.org/xfce/exo.git
[submodule "ports/src/xfce4-settings"]
	path = ports/src/xfce4-settings
	url = https://gitlab.xfce.org/xfce/xfce4-settings.git
[submodule "ports/src/xfce4-panel"]
	path = ports/src/xfce4-panel
	url = https://gitlab.xfce.org/xfce/xfce4-panel.git
[submodule "ports/src/xfdesktop"]
	path = ports/src/xfdesktop
	url = https://gitlab.xfce.org/xfce/xfdesktop.git
[submodule "ports/src/xfce4-session"]
	path = ports/src/xfce4-session
	url = https://gitlab.xfce.org/xfce/xfce4-session.git
[submodule "ports/src/libxfce4windowing"]
	path = ports/src/libxfce4windowing
	url = https://gitlab.xfce.org/xfce/libxfce4windowing.git
[submodule "ports/src/libxml2"]
	path = ports/src/libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
[submodule "ports/src/vte"]
	path = ports/src/vte
	url = https://gitlab.gnome.org/GNOME/vte.git
[submodule "ports/src/xfce4-terminal"]
	path = ports/src/xfce4-terminal
	url = https://gitlab.xfce.org/apps/xfce4-terminal.git
[submodule "ports/src/icu"]
	path = ports/src/icu
	url = https://github.com/unicode-org/icu.git
	shallow = true
	branch = maint/maint-77
[submodule "ports/src/libxslt"]
	path = ports/src/libxslt
	url = https://gitlab.gnome.org/GNOME/libxslt.git
	shallow = true
[submodule "ports/src/sqlite"]
	path = ports/src/sqlite
	url = https://github.com/sqlite/sqlite.git
	shallow = true
[submodule "ports/src/libwebp"]
	path = ports/src/libwebp
	url = https://github.com/webmproject/libwebp.git
	shallow = true
[submodule "ports/src/brotli"]
	path = ports/src/brotli
	url = https://github.com/google/brotli.git
	shallow = true
[submodule "ports/src/woff2"]
	path = ports/src/woff2
	url = https://github.com/google/woff2.git
	shallow = true
[submodule "ports/src/libgpg-error"]
	path = ports/src/libgpg-error
	url = https://github.com/gpg/libgpg-error.git
	shallow = true
[submodule "ports/src/libgcrypt"]
	path = ports/src/libgcrypt
	url = https://github.com/gpg/libgcrypt.git
	shallow = true
[submodule "ports/src/libtasn1"]
	path = ports/src/libtasn1
	url = https://gitlab.com/gnutls/libtasn1.git
	shallow = true
[submodule "ports/src/libpsl"]
	path = ports/src/libpsl
	url = https://github.com/rockdaboot/libpsl.git
	shallow = true
[submodule "ports/src/libsoup"]
	path = ports/src/libsoup
	url = https://gitlab.gnome.org/GNOME/libsoup.git
	shallow = true
[submodule "ports/src/webkit"]
	path = ports/src/webkit
	url = https://github.com/WebKit/WebKit.git
	shallow = true
[submodule "ports/src/welcome"]
	path = ports/src/welcome
	url = https://github.com/tunixos/welcome.git
