[submodule "ports/src/bash"]
	path = ports/src/bash
	url = https://git.savannah.gnu.org/git/bash.git
[submodule "ports/src/busybox"]
	path = ports/src/busybox
	url = https://github.com/mirror/busybox.git
[submodule "ports/src/musl"]
	path = ports/src/musl
	url = https://git.musl-libc.org/git/musl
[submodule "ports/src/tinycc"]
	path = ports/src/tinycc
	url = https://github.com/TinyCC/tinycc.git
	branch = mob
